<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de contactos</title>
</head>
<body>

<h3>Registro de contactos</h3>
<form action="" method="post">
  <div>
    <label for="nombre"> Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="Digite su nombre">
  </div>
  <div>
    <label for="celular">Celular:</label>
    <input type="text" name="celular" id="celular" placeholder="Digite su celular">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Digite su email">
  </div>
  <div>
    <label for="fechaNacimiento">Fecha nacimiento:</label>
    <input type="date" id="fechaNacimiento">
  </div>
  <button type="submit">Guardar</button>
  <button type="submit">Cancelar</button>

</form>

</body>
</html>